.form-container {
	padding: 15px;
	border-radius: 19px;
	background-color: white;
}

.form-select {
	border-radius: 12px !important;
	border: 1px solid rgb(128, 128, 128) !important;
	&::placeholder {
		font-size: 0.8rem;
	}
	&:focus {
		box-shadow: none;
		border: 1px solid #4e78cc;
	}
}

.form-control {
	max-width: 100px;
	border: 1px solid rgb(128, 128, 128);
	&::placeholder {
		font-size: 0.8rem;
	}
	&:focus {
		box-shadow: none;
		border: 1px solid #4e78cc;
	}
}

.input-group {
	justify-content: center;
	&-text {
		border-radius: 0;
	}
}

.flex-1 {
	flex: 1;
}
